/* General codes */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* section 1  */

/* background */
#section1 {
  height: 1304.05px;
  background-size: cover;
  background-position: center top;
  transform: translate(0px, 0px);
  background-image: url(image/background.jpg);
}

/* position for section 1 */
#section1 .container {
  position: relative;
}

/* crypto text & Position*/
.crypto-title {
  height: 542px;
  width: fit-content;
  position: absolute;
  top: 310px;
  right: 80px;
}

.crypto-title>div>h1 {
  color: #0b89f2;
  font-family: poppins;
  font-weight: 300;
  font-size: 72px;
}

.crypto-title>div>p {
  color: #666666;
}

.crypto-title .pico {
  height: 141px;
  width: 450px;
}

/* two Buttons */
.button {
  display: inline-flex;
}

.button p {
  padding: 13px 36px 17px 36px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 31px;
}

.button p:first-of-type {
  background: linear-gradient(to right, #5495ed, #2c53e0);
}

.button p:last-of-type {
  background: linear-gradient(to right, #7152ec, #2c30e0);
  margin-left: 15px;
}

/* icon services */
.icon-service {
  height: fit-content;
  width: 1250px;
  position: absolute;
  top: 1000px;
  right: 7px;
  margin: 0 auto;
}

.icon-service .container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 1200px;
}

.icon-service h3 {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #272728;
}

.icon-service .textp {
  width: 375.66px;
}

.icon-service p {
  color: #838383;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}

/* Creat By Nasrin */

/* main header: remain top of the page */
#header {
  background-color: rgba(255, 255, 255, 0.89);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 90;
  box-shadow: 0 -2px 5px 0px rgb(194, 194, 194);

}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px 15px 0;
  box-sizing: border-box;
}

#header #logo {
  transform: scale(0.7);
}

#header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

#header #navbar {
  display: flex;
  align-items: center;
}

#header ul>li {
  font-family: montserrat;
  font-size: 15px;
  padding: 5px 16px;
  cursor: pointer;
}

#header ul>li a {
  padding: 15px 0;
  color: #818181;
}

#header ul>li a:hover {
  color: #1e63da;
}

#header ul>li a:visited {
  color: #1e63da;
}


#header #navbar>a {
  background-color: #1379e7;
  border-radius: 4px;
  padding: 9px 15px;
  border: 2px solid #1379e7;
  color: #fff;
  font-family: poppins;
  font-size: 11px;
  font-weight: 700;
  margin-left: 11px;
  letter-spacing: 1px;
}

#header #navbar>a:hover {
  background-color: #1153e0;
}

#header #navbar span {
  transform: scale(-1, 1);
  font-size: 14px;
}

#header #line {
  width: 0px;
  height: 16px;
  border-right: 1px solid#7a7a7a;
  margin: 0 17px 6px 27px;
}

/* header2 */
/*primary Header <display when the page loaded>*/
/* overlaps main header */

#header2 {
  position: relative;
  z-index: 99;
  background-image: url(image/background.jpg);
}

#header2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px 15px 35px;
  box-sizing: border-box;
}


#header2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

#header2 #navbar {
  display: flex;
  align-items: center;
}

#header2 ul>li {
  font-family: montserrat;
  font-size: 15px;
  padding: 5px 16px;
  cursor: pointer;
}

#header2 ul>li a {
  padding: 15px 0;
  color: #818181;
}

#header2 ul>li a:hover {
  color: #1e63da;
}

#header2 ul>li a:visited {
  color: #1e63da;
}


#header2 #navbar>a {
  background-color: #1379e7;
  border-radius: 4px;
  padding: 9px 15px;
  border: 2px solid #1379e7;
  color: #fff;
  font-family: poppins;
  font-size: 11px;
  font-weight: 700;
  margin-left: 11px;
  letter-spacing: 1px;
}

#header2 #navbar>a:hover {
  background-color: #1153e0;
}

#header2 #navbar span {
  transform: scale(-1, 1);
  font-size: 14px;
}

#header2 #line {
  width: 0px;
  height: 16px;
  border-right: 1px solid#7a7a7a;
  margin: 0 17px 6px 27px;
}

/* Finished By Nasrin */

/* Creat By Ahmad */

h3 {
  font-weight: 500;
}

/*   About - Row1   */
#About p {
  font-size: 17px;
  color: #5c5c5c;
}

#About #Row1 {
  margin-top: 100px;
  display: flex;
  padding: 20px;
}

/*  Row1 > Part - Left (IMG)  */
#About #Row1>#About-Img {
  margin: 25px 40px;
}

/*  Row1 > Part - Right   */
#About #Row1>#Text1 {
  margin-left: 50px;
}

#About #Row1>#Text1>h3 {
  margin-top: 22px;
  font-size: 27px;
}

#About #Row1>#Text1>p {
  line-height: 30px;
  margin-bottom: 30px;
}

#About #Row1>#Text1>#Meet-Benefits p {
  margin: 14px 0;
}

#About #Row1>#Text1>#Meet-Benefits {
  margin-bottom: 30px;
}

#About #Row1>#Text1>#Meet-Benefits p::before {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #228bfe;
  font-size: 14px;
  padding-right: 15px;
}

#About #Row1>#Text1>a {
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
  color: #228bfe;
}

/*   About - Row2   */

#About #Row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 40px;
}

/*   Row2 > Part - Left   */
#About #Row2>#Text2>h3 {
  font-size: 29px;
  margin-top: 22px;
  margin-bottom: 27px;
}

#About #Row2>div {
  width: 47%;
}

#About #Row2>#Text2>p {
  line-height: 29px;
}

#About #Row2>#Text2>#Privacy-Benefits {
  margin-top: 40px;
}

#About #Row2>#Text2>#Privacy-Benefits>img {
  float: left;
}

#About #Row2>#Text2>#Privacy-Benefits>p {
  padding: 12px 68px;
}

/*   Row2 > Part - Right (IMG)  */
#About #Row2>#About-Img2 {
  margin: 25px 0 0 14px;
}

/*   About - Row3   */
#Row3 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#Row3>.More-Benefits {
  width: 48%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

/* ^More Benefits = 8 Div (Bottem of [About] Part) About Advantages Of The Product^ */

#Row3>.More-Benefits>.Text-Part {
  width: 79%;
}

#Row3>.More-Benefits>.Text-Part>h4 {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #383838;
  margin-bottom: 15px;
  margin-top: 35px;
}

#Row3>.More-Benefits>.Text-Part>p {
  font-size: 15px;
  /* margin-top: 0px; */
  color: #838383;
  line-height: 1.7;
}

/* Finished By Ahmad */

/* section token */
#token {
  background-image: url(image/allocate-bg-2.png);
  background-repeat: repeat-x;
  margin-top: 70px;
}

#token .container {
  background-image: url(image/allocated-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 5%;
  padding: 80px 0;

}

#token #divider {
  width: 50%;
  height: 60px;
  border-right: 1px #335EE2 solid;
}

.title {
  text-align: center;
  margin: 55px 0;
}

.title h3 {
  color: rgb(51, 94, 226);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;

}

.title span {
  color: rgb(160, 160, 160);
  display: inline-block;
  margin-top: 6px;
  letter-spacing: 1px;
}

/* main-token = 4 <items> divs */
#main_token {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 65px 25px;
}


#main_token>div {
  width: 48%;
  margin-bottom: 50px;
}

/* prices */
#main_token #prices {
  display: flex;
  flex-wrap: wrap;
}

#main_token #prices .items {
  width: 48%;
  margin-bottom: 20px;
}

#main_token #prices .items h6 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #242424;
  font-weight: 700;
  display: block;
  margin: 5px 0;
}

#main_token #prices .items span {
  font-size: 14px;
  color: #666;
  letter-spacing: 2px;
}

#main_token #prices p {
  font-size: 13px;
  color: #a3a3a3;
  margin-top: 40px;
}

/* chart */


/* buy */
#main_token #buy>p {
  font-size: 15px;
  color: #272728;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 30px;

}

#main_token #buy .reasons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#main_token #buy .reasons>p {
  padding: 0 68px 15px 30px;
  color: #838383;
  font-size: 16px;
  line-height: 1.7;
  margin-top: 0;
}

/* market */

#main_token #market {
  background-color: #f8f8f8;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  padding: 62px 153px 20px 153px;
  height: fit-content;
}

#main_token #market .button {
  padding: 15px 33px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  background-image: linear-gradient(to right, #2c54e0, #5393ed);
}

#main_token #market #progress {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 16px 0;
}

#main_token #market #progress .statistics p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 5px 0;
  text-align: left;
}

#main_token #market #progress .statistics:last-of-type p {
  text-align: right;
}

#main_token #market #progress .statistics span {
  font-size: 12px;
  font-weight: 600;
  color: #9d9d9d;
}

#main_token #market #progress_bar {
  width: 100%;
  height: 6px;
  background-color: #eaeaea;
  border-radius: 3px;
}

#main_token #market #progress_bar #colorline {
  width: 70%;
  height: 6px;
  background-color: #2576f9;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#main_token #market #icons {
  margin: 33px 0;
  text-align: left;

}

#main_token #market #icons span {
  font-size: 15px;
  font-weight: 600;
  margin-right: 22px;
}

#main_token #market #icons img {
  vertical-align: middle;
}

/* Finished By Nasrin */

/* ******************************************************************** */
/* started by Ali */
/* team pictures edits */
#team-picture {
  height: fit-content;
  width: 1230px;
  background-color: #ffffff;
  margin: 0 auto;
}

#team-picture .container {
  margin: 0 auto;
}

/* the team background */
.divider2 {
  background-image: url(image/team.png);
  height: 275px;
  width: 1160px;
  position: relative;
}

/* border and text */
.things {
  text-align: center;
  position: relative;
}

.things-position {
  position: absolute;
  top: 40px;
  right: 480px;
}

.things>div>p {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #2b2b2b;
  margin-top: 50px;
}

/* border size */
.border1 {
  width: 50%;
  height: 40px;
  border-right: 1px #666666 solid;
}

/* Images 4 edits section */
#images4 {
  height: 358px;
  width: 1280px;
  display: flex;
  background-color: white;
}

/* images (pictures) */
.images4 {
  height: 308px;
  width: 320px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
}

.images4 h3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.images4 p {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  color: #888;
}

/* images edit */
.images4 img {
  height: 183px;
  width: 287px;
  border-radius: 10px;
  text-align: center;
  transition: transform .2s;
}

.images4>div>i {
  color: #545454;
  margin-left: 10px;
  opacity: 85%;
}

.images4>div>i:hover {
  opacity: 90%;
  cursor: pointer;
  color: black;
}

/* hover images */
.images4 img:hover {
  transform: scale(1.1);
}


/* Advisors Section */
.divider3 {
  background-image: url(image/advisors.png);
  height: 275px;
  width: 1160px;
}

.divider3 p {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #2b2b2b;
}

/* end by Ali */
/* ************************************************************* */
/* ********************************************************************* */
/* Creat By Nasrin */
/* section roadmap */

#roadmap {
  background-image: url(image/roadmap-bg.jpg);
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  background-position: center top;
}

#roadmap .container {
  background-image: url(image/roadmap-title-bg-1.png);
  background-repeat: no-repeat;
  background-position: 50% -10px;
  padding: 85px 0;
}

/* title */
#roadmap .container .title {
  margin: 35px 0;
}

#roadmap .container .title h3 {
  font-weight: 700;
  margin-bottom: 4px;
}

#roadmap .title span {
  color: rgb(119, 119, 119);
}

/* main part */
#main_roadmap {
  display: flex;
  margin-top: 50px;
  padding: 15px 40px;
  justify-content: space-between;
  position: relative;
}

/* 2dives: left & right */
#main_roadmap>div {
  width: 50%;
}


/* left */

/* 7 roadmap_items div */
#main_roadmap #roadmap_left .roadmap_items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

}

/* text :name & date of 7 roadmap_items dives*/
#main_roadmap #roadmap_left .text {
  text-align: right;
  padding-right: 30px;
}

.stage_name {
  color: #a5a5a5;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 700;
  margin: 0;
}

.stage_date {
  color: #b3b3b3;
  font-size: 13px;
}

/* circle */
#main_roadmap #roadmap_left .circle {
  background-color: #7d7d7d;
  color: #fff;
  font-size: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-right: -25px;
}

/* divider: horizontal line after each stage */
#main_roadmap .divider {
  width: 100%;
  height: 15px;
  border-right: 1px #8bc5f5 solid;
  margin: 15px 0;
}

/* right */
#main_roadmap #roadmap_right {
  padding: 0 70px;
  box-sizing: border-box;
}

/* title */
#main_roadmap #roadmap_right .stage_name {
  color: #000;
  font-size: 17px;
  margin: 10px 0 30px 0;
}

#main_roadmap #roadmap_right .stage_date {
  color: #6f6F6F;

}

/* content */
#main_roadmap #roadmap_right p {
  font-size: 17px;
  color: #666;
  line-height: 1.7;
}

/* on click:change color*/
#main_roadmap #roadmap_left input {
  display: none;
}

#main_roadmap #roadmap_left input:checked+label .circle {
  background-color: #335ee2;
}

#main_roadmap #roadmap_left input:checked+label .stage_name {
  color: #335ee2;
}

/* on click:change content*/

/* position of right side(content) */
#roadmap_right {
  position: absolute;
  left: 50%;
  top: 10px;
}

#main_roadmap #roadmap_right {
  display: none;
}

#main_roadmap #roadmap_left input:checked+label+div {
  display: block;
}

/* Finished By Nasrin */

/* ************************************* */
/* Started by Ali */

/* Blue background section */
#blue-bg {
  height: 550px;
  background: linear-gradient(to right, #21adff, #253ed1);

}

#blue-bg .container {
  position: relative;
}

/* white border */
.borderw {
  width: 50%;
  height: 33px;
  border-right: 1px #ffffff solid;
  border-right-width: 1px;
  position: absolute;
  top: 90px;
}

/* textes */
.textb {
  text-align: center;
  position: absolute;
  top: 170px;
  right: 465px;
}

.textb h3 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
}

.textb p {
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a9c9ff;
}

/* Main div of images */
.key-images {
  position: absolute;
  top: 255px;
  right: 110px;
}

/* Images edit */
.key-images>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* feature edits */

#feature {
  margin-top: 50px;
}

.feature-text {
  text-align: center;
}

.feature-text h3 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #030303;
}

.feature-text p {
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #898989;
  margin-top: 6px;
}

.feature-image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature-image img {
  width: 250px;
}


/*  :D Started By Ahmad XP  */

/*   Updates (Recent News) */
#Updates {
  height: fit-content;
}

#Updates a {
  color: #333;
}

/* Background UPDATES */
#Updates .container {
  background-image: url(image/updates.png);
  background-repeat: no-repeat;
  background-position: 50% 12%;
  padding: 110px 0;
}

.updates-border {
  width: 50%;
  height: 60px;
  border-right: 1px #335EE2 solid;

}

#Updates .container>h3 {
  text-align: center;
  margin-top: 65px;
  color: #1153e0;
  font-weight: 600;
  font-size: 16px;
}

/*   Updates > Main Part   */

#Main-Updates {
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
}



/*   Updates > Main Part > Left(IMG-BTC)   */

#Updates #Img-Btc {
  overflow: hidden;
  width: 601px;
  height: 450px;
  position: relative;
}

#Updates #Img-Hover>img {
  transition: 0.5s;
}

#Img-Btc {
  background-color: #030303;
}

#Updates #Img-Btc:hover>#Img-Hover>img {
  transform: scale(1.1);
  opacity: .4;
}

#Updates #Description {
  width: 80%;
  position: absolute;
  bottom: 8%;
  left: 5%;
}

#Updates #Description a,
#Links>span,
#Links a {
  color: #fff;
}

#Updates #Description>a {
  font-size: 22px;
  font-weight: 700;
}

#Updates #Description>#Links {
  margin-top: 12px;
}

#Updates #Description>#Links>span {
  margin-right: 10px;
}

#Updates #Description>#Links a,
span {
  font-size: 14px;
}

/*   Updates > Main Part > Right   */
#Part-Right {
  width: 46%;
}

#Part-Right .Description {
  width: 84%;
}

#Part-Right .News {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

#Part-Right .News p {
  margin: 10px 0;
  font-weight: 600;
}

.News img {
  width: 80px;
}

#Part-Right a {
  color: rgb(133, 133, 133);
}

.Img-News {
  background-color: #000;
  height: 80px;
  overflow: hidden;
}

.Img-News:hover>.Hover-News>a>img {
  transform: scale(1.2);
  opacity: .6;
}

.Img-News>.Hover-News>a>img {
  transition: .3s;
}

/*   Bottom = Read The Blog */
#MoreBlog-Bottom {
  text-align: center;
  margin-top: 45px;
}

#MoreBlog-Bottom a {
  background: linear-gradient(to right, #5495ed, #2c53e0);
  padding: 19px 33px;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
}

/*  |*\__/*| End By Ahmad |*\__/*|  */

/*   :(   **********************************  ;)    */

/* Creat By Nasrin */
/* section whitepaper */
#whitepaper {
  background-color: #f5f5f5;
}

#whitepaper .container {
  padding: 90px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left part */
#whitepaper #whitepapers_contex {
  width: 45%;
  padding: 0 35px;
}

#whitepaper #whitepapers_contex h3 {
  display: inline-block;
  font-size: 29px;
  font-weight: 600;
  color: #3866e4;
  margin: 0;
}

#whitepaper #whitepapers_contex img {
  vertical-align: middle;
  margin-right: 25px;
}

#whitepaper #whitepapers_contex p {
  line-height: 1.7;
  color: #666666;
}

/* right part:2 buttons */
#whitepapers_buttons {
  padding-right: 43px;
}

#whitepapers_buttons a {
  background-image: linear-gradient(to right, #5494ed, #2c52e0);
  font-size: 16px;
  padding: 25px 57px;
  font-weight: 600;
}

#whitepapers_buttons a:first-of-type {
  margin-right: 40px;
}

#whitepapers_buttons a:before {
  content: "\f1c1";
  font-family: 'FontAwesome';
  margin-right: 10px;
  font-weight: 100;
}

/*  section contact us */
#contact {
  background-image: url(image/roadmap-bg.jpg);
  background-attachment: fixed;
  padding: 90px 0 26px 0;
  background-repeat: no-repeat;
  background-position: left 0 top -203px;
  background-size: cover;
  position: relative;
}

#contact .container {
  box-sizing: border-box;
  padding: 0 35px 60px 0;
  display: flex;
  justify-content: space-between;
}

#contact #contact_left {
  width: 30%;
  padding-left: 35px;
}

#contact #contact_right {
  width: 63.5%;
  padding-right: 5px;
}

#contact #contact_left h4 {
  padding: 0 0 40px 0;
  margin: 0;
  font-size: 27px;
  font-weight: 700;
  color: #383838
}

#contact #contact_left .contact_icons {
  margin-bottom: 25px;
}

#contact #contact_left .contact_icons img {
  vertical-align: middle;
}

#contact #contact_left .contact_icons span {
  font-size: 16px;
  padding-top: 3px;
  font-weight: 400;
  color: #383838;
  margin-left: 15px;
}

#contact #contact_left #network_icons a {
  color: #3e6fe6;
  font-size: 21px;
  display: inline-block;
  padding: 22px 15px 0 0;
}

#contact #contact_right input:not([type=submit]),
#contact #contact_right textarea {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #3866e4;
  background-color: transparent;
}

#contact ::placeholder {
  color: #4e4e4e;
}


#contact #contact_right input,
#contact #contact_right textarea {
  display: block;
  font-family: poppins;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

#contact #contact_right textarea {
  border-bottom: 1px solid #3866e4;
}

#contact #contact_right input[type=submit] {
  background-color: #236be4;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  font-family: poppins;
  padding: 15px 55px;
  border-radius: 0;
  margin-top: 20px;
  cursor: pointer;
}

/* footer */
footer {
  background: #efefef;
  color: #6d6d6d;
  padding: 23px;
  text-align: center;
  font-size: 16px;
}

/* ************************************************************ */
/* back to top botton */
#scrollbutton {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-color: #dbdbdb;
  border-radius: 50%;
  color: #313131;
  text-align: center;
  line-height: 45px;
  font-size: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* *************************************************************** */
/* animatin */
/* animation_name:from_left: Appearing from the left  */
@keyframes from_left {
  0% {
    opacity: 0;
    transform: translatex(-80px);
  }

  100% {
    opacity: 100;
    transform: translatex(0);
  }
}

/* animation_name:from_bottom: Appearing from the bottom  */
@keyframes from_bottom {
  0% {
    opacity: 0;
    transform: translatey(80px);
  }

  100% {
    opacity: 100;
    transform: translatey(0);
  }
}

/* animation_name:from_right: Appearing from the bottom  */
@keyframes from_right {
  0% {
    opacity: 0;
    transform: translatex(80px);
  }

  100% {
    opacity: 100;
    transform: translatex(0);
  }
}

.animated_left {
  animation: from_left 0.8s both;
}

.animated_right {
  animation: from_right 0.8s both;
}

.animated_bottom {
  animation: from_bottom 0.8s both;
}

/* Finished By Nasrin */