/* General codes */

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* section 1  */

/* background */
#section1 {
  height: 1304.05px;
  background-size: cover;
  background-position: center top;
  transform: translate(0px, 0px);
  background-image: url(image/background.jpg);
}

/* position for section 1 */
#section1 .container {
  position: relative;
}

/* crypto text & Position*/
.crypto-title {
  height: 542px;
  width: fit-content;
  position: absolute;
  top: 310px;
  right: 80px;
}

.crypto-title>div>h1 {
  color: #0b89f2;
  font-family: poppins;
  font-weight: 300;
  font-size: 72px;
}

.crypto-title>div>p {
  color: #666666;
}

.crypto-title .pico {
  height: 141px;
  width: 450px;
}

/* two Buttons */
.button {
  display: inline-flex;
}

.button p {
  padding: 13px 36px 17px 36px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 31px;
}

.button p:first-of-type {
  background: linear-gradient(to right, #5495ed, #2c53e0);
}

.button p:last-of-type {
  background: linear-gradient(to right, #7152ec, #2c30e0);
  margin-left: 15px;
}

/* icon services */
.icon-service {
  height: fit-content;
  width: 1250px;
  position: absolute;
  top: 1000px;
  right: 7px;
  margin: 0 auto;
}

.icon-service .container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 1200px;
}

.icon-service h3 {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #272728;
}

.icon-service .textp {
  width: 375.66px;
}

.icon-service p {
  color: #838383;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}

/* header */

#header {
  background-color: rgba(255, 255, 255, 0.89);
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 -2px 5px 0px rgb(194, 194, 194);

}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px 15px 0;
  box-sizing: border-box;
}

#header #logo {
  transform: scale(0.7);
}

#header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #navbar {
  display: flex;
  align-items: center;
}

#header ul>li {
  font-family: montserrat;
  font-size: 15px;
  padding: 5px 15px;
  cursor: pointer;
}

#header ul>li a {
  padding: 15px 0;
  color: #818181;
}

#header ul>li a:hover {
  color: #1e63da;
}

#header ul>li a:visited {
  color: #1e63da;
}


#navbar>a {
  background-color: #1379e7;
  border-radius: 4px;
  padding: 8px 15px;
  border: 2px solid #1379e7;
  color: #fff;
  font-family: poppins;
  font-size: 11px;
  font-weight: 700;
  margin-left: 11px;
  letter-spacing: 1px;
}

#navbar>a:hover {
  background-color: #1153e0;
}

#navbar span {
  transform: scale(-1, 1);
  margin: 0 13px;
  font-size: 14px;
}

#line {
  width: 0px;
  height: 16px;
  border-right: 1px solid#7a7a7a;
}

/* Creat By Ahmad */

h3 {
  font-weight: 500;
}

/*   About - Row1   */
#About p {
  font-size: 17px;
  color: #5c5c5c;
}

#About #Row1 {
  margin-top: 100px;
  display: flex;
  padding: 20px;
}

/*  Row1 > Part - Left (IMG)  */
#About #Row1>#About-Img {
  margin: 25px 40px;
}

/*  Row1 > Part - Right   */
#About #Row1>#Text1 {
  margin-left: 50px;
}

#About #Row1>#Text1>h3 {
  margin-top: 22px;
  font-size: 27px;
}

#About #Row1>#Text1>p {
  line-height: 30px;
  margin-bottom: 30px;
}

#About #Row1>#Text1>#Meet-Benefits p {
  margin: 14px 0;
}

#About #Row1>#Text1>#Meet-Benefits {
  margin-bottom: 30px;
}

#About #Row1>#Text1>#Meet-Benefits p::before {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #228bfe;
  font-size: 14px;
  padding-right: 15px;
}

#About #Row1>#Text1>a {
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
  color: #228bfe;
}

/*   About - Row2   */

#About #Row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 40px;
}

/*   Row2 > Part - Left   */
#About #Row2>#Text2>h3 {
  font-size: 29px;
  margin-top: 22px;
  margin-bottom: 27px;
}

#About #Row2>div {
  width: 47%;
}

#About #Row2>#Text2>p {
  line-height: 29px;
}

#About #Row2>#Text2>#Privacy-Benefits {
  margin-top: 40px;
}

#About #Row2>#Text2>#Privacy-Benefits>img {
  float: left;
}

#About #Row2>#Text2>#Privacy-Benefits>p {
  padding: 12px 68px;
}

/*   Row2 > Part - Right (IMG)  */
#About #Row2>#About-Img2 {
  margin: 25px 0 0 14px;
}

/*   About - Row3   */
#Row3 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#Row3>.More-Benefits {
  width: 48%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

/* ^More Benefits = 8 Div (Bottem of [About] Part) About Advantages Of The Product^ */

#Row3>.More-Benefits>.Text-Part {
  width: 79%;
}

#Row3>.More-Benefits>.Text-Part>h4 {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #383838;
  margin-bottom: 15px;
  margin-top: 35px;
}

#Row3>.More-Benefits>.Text-Part>p {
  font-size: 15px;
  /* margin-top: 0px; */
  color: #838383;
  line-height: 1.7;
}

/* Finished By Ahmad */



/*---section token---*/
/* Creat By Nasrin */

#token {
  background-image: url(image/allocate-bg-2.png);
  background-repeat: repeat-x;
  margin-top: 70px;
}

#token .container {
  background-image: url(image/allocated-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 5%;
  padding: 80px 0;

}

/* horizontal line */
#token #divider {
  width: 50%;
  height: 60px;
  border-right: 1px #335EE2 solid;
}

#token #title {
  text-align: center;
  margin: 55px 0;
}

#token #title h3 {
  color: rgb(51, 94, 226);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;

}

#token #title span {
  color: rgb(160, 160, 160);
  margin-top: 6px;
  letter-spacing: 1px;
}

/* main-token = 4 <items> divs */
#main_token {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 65px 25px;
}


#main_token>div {
  width: 48%;
  margin-bottom: 50px;
}

/* prices:row 1 left*/
#main_token #prices {
  display: flex;
  flex-wrap: wrap;
}

#main_token #prices .items {
  width: 48%;
  margin-bottom: 20px;
}

#main_token #prices .items h6 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #242424;
  font-weight: 700;
  display: block;
  margin: 5px 0;
}

#main_token #prices .items span {
  font-size: 14px;
  color: #666;
  letter-spacing: 2px;
}

#main_token #prices p {
  font-size: 13px;
  color: #a3a3a3;
  margin-top: 40px;
}

/* chart<js> */


/* buy:row 2 left */
#main_token #buy>p {
  font-size: 15px;
  color: #272728;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 30px;

}

#main_token #buy .reasons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#main_token #buy .reasons>p {
  padding: 0 68px 15px 30px;
  color: #838383;
  font-size: 16px;
  line-height: 1.7;
  margin-top: 0;
}

/* market:row 2 right*/

#main_token #market {
  background-color: #f8f8f8;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  padding: 62px 153px 20px 153px;
  height: fit-content;
}

/* button */
#main_token #market .button {
  padding: 15px 33px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  background-image: linear-gradient(to right, #2c54e0, #5393ed);
}

/* progress bar */
#main_token #market #progress {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 16px 0;
}

/* progress bar title  */
#main_token #market #progress .statistics p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 5px 0;
  text-align: left;
}

#main_token #market #progress .statistics:last-of-type p {
  text-align: right;
}

#main_token #market #progress .statistics span {
  font-size: 12px;
  font-weight: 600;
  color: #9d9d9d;
}

/* progress line */
#main_token #market #progress_bar {
  width: 100%;
  height: 6px;
  background-color: #eaeaea;
  border-radius: 3px;
}

#main_token #market #progress_bar #colorline {
  width: 70%;
  height: 6px;
  background-color: #2576f9;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* bottom of progress bar */
#main_token #market #icons {
  margin: 33px 0;
  text-align: left;

}

#main_token #market #icons span {
  font-size: 15px;
  font-weight: 600;
  margin-right: 22px;
}

#main_token #market #icons img {
  vertical-align: middle;
}

/* Finished By Nasrin */